<a href="https://colab.research.google.com/github/puttipongyy/BSC_DPDM23/blob/main/test_survey.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Association

In [129]:
import pandas as pd
import numpy as np

In [130]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [131]:
survey = pd.read_excel('/content/drive/MyDrive/BSC_DPDM23/Project_data/dataset_consumer-insight-survey2019.xlsx')

# column ที่ใช้ Association
ช่วงเวลา k 1-10  
ประเภทข่าวที่สนใจ 5 อันดับ ที่พูดขึ้นมาเอง r1 - rr1

In [132]:
survey_association = survey.copy()

In [133]:
survey_association = survey_association[['k1', 'k2', 'k3', 'k4', 'k5', 'k6', 'k7', 'k8', 'k9', 'k10', 'r1', 'r2', 'r3', 'r4', 'r5','rr1']]

In [134]:
survey_association['r2'] = survey_association['r2'].replace({21: 99, 80: 99})
survey_association['r3'] = survey_association['r3'].replace({31: 99})

In [135]:
survey_association['k1'] = survey_association['k1'].replace({0: 99, 1: 'time01'})
survey_association['k2'] = survey_association['k2'].replace({0: 99, 1: 'time02'})
survey_association['k3'] = survey_association['k3'].replace({0: 99, 1: 'time03'})
survey_association['k4'] = survey_association['k4'].replace({0: 99, 1: 'time04'})
survey_association['k5'] = survey_association['k5'].replace({0: 99, 1: 'time05'})
survey_association['k6'] = survey_association['k6'].replace({0: 99, 1: 'time06'})
survey_association['k7'] = survey_association['k7'].replace({0: 99, 1: 'time07'})
survey_association['k8'] = survey_association['k8'].replace({0: 99, 1: 'time08'})
survey_association['k9'] = survey_association['k9'].replace({0: 99, 1: 'time09'})
survey_association['k10'] = survey_association['k10'].replace({0: 99, 1: 'time10'})

In [136]:
# Change data type of multiple columns to string using applymap()
# survey_association[['r1', 'r2', 'r3', 'r4', 'r5','rr1']] = survey_association[['r1', 'r2', 'r3', 'r4', 'r5','rr1']].applymap(str)

# print(survey_association[['r1', 'r2', 'r3', 'r4', 'r5','rr1']])

In [137]:
survey_association['new_column'] = survey_association[['k1', 'k2', 'k3', 'k4', 'k5', 'k6', 'k7', 'k8', 'k9', 'k10', 'r1', 'r2', 'r3', 'r4', 'r5','rr1']].apply(list, axis=1)

In [138]:
survey_association['new_column']

0       [99, time02, 99, 99, 99, time06, 99, 99, 99, 9...
1       [99, time02, 99, 99, 99, time06, time07, 99, 9...
2       [99, time02, 99, 99, 99, time06, time07, 99, 9...
3       [99, time02, 99, 99, time05, time06, 99, 99, 9...
4       [99, time02, 99, time04, 99, time06, time07, 9...
                              ...
2054    [99, 99, time03, 99, 99, 99, time07, 99, 99, 9...
2055    [99, time02, time03, time04, time05, 99, 99, t...
2056    [99, 99, 99, 99, 99, time06, time07, 99, 99, 9...
2057    [99, 99, time03, 99, 99, time06, time07, time0...
2058    [99, 99, 99, 99, 99, time06, time07, time08, 9...
Name: new_column, Length: 2059, dtype: object

In [139]:
survey_association['no_99'] = survey_association['new_column'].apply(lambda x: [i for i in x if i != 99])

In [142]:
survey_association['for_association'] = survey_association['no_99'].apply(lambda x: [str(i) for i in x])

In [143]:
survey_association.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2059 entries, 0 to 2058
Data columns (total 19 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   k1               2059 non-null   object
 1   k2               2059 non-null   object
 2   k3               2059 non-null   object
 3   k4               2059 non-null   object
 4   k5               2059 non-null   object
 5   k6               2059 non-null   object
 6   k7               2059 non-null   object
 7   k8               2059 non-null   object
 8   k9               2059 non-null   object
 9   k10              2059 non-null   object
 10  r1               2059 non-null   int64
 11  r2               2059 non-null   int64
 12  r3               2059 non-null   int64
 13  r4               2059 non-null   int64
 14  r5               2059 non-null   int64
 15  rr1              2059 non-null   int64
 16  new_column       2059 non-null   object
 17  no_99            2059 non-null   object
 18  for_association  2059 non-null   object
dtypes: int64(6), object(13)
memory usage: 305.8+ KB

In [144]:
survey_association

,k1,k2,k3,k4,k5,k6,k7,k8,k9,k10,r1,r2,r3,r4,r5,rr1,new_column,no_99,for_association
0,99,time02,99,99,99,time06,99,99,99,99,3,15,10,8,4,99,"[99, time02, 99, 99, 99, time06, 99, 99, 99, 9...","[time02, time06, 3, 15, 10, 8, 4]","[time02, time06, 3, 15, 10, 8, 4]"
1,99,time02,99,99,99,time06,time07,99,99,99,2,3,4,8,10,99,"[99, time02, 99, 99, 99, time06, time07, 99, 9...","[time02, time06, time07, 2, 3, 4, 8, 10]","[time02, time06, time07, 2, 3, 4, 8, 10]"
2,99,time02,99,99,99,time06,time07,99,99,99,7,5,3,1,4,99,"[99, time02, 99, 99, 99, time06, time07, 99, 9...","[time02, time06, time07, 7, 5, 3, 1, 4]","[time02, time06, time07, 7, 5, 3, 1, 4]"
3,99,time02,99,99,time05,time06,99,99,99,99,1,3,2,4,15,99,"[99, time02, 99, 99, time05, time06, 99, 99, 9...","[time02, time05, time06, 1, 3, 2, 4, 15]","[time02, time05, time06, 1, 3, 2, 4, 15]"
4,99,time02,99,time04,99,time06,time07,99,99,99,1,3,2,4,15,99,"[99, time02, 99, time04, 99, time06, time07, 9...","[time02, time04, time06, time07, 1, 3, 2, 4, 15]","[time02, time04, time06, time07, 1, 3, 2, 4, 15]"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2054,99,99,time03,99,99,99,time07,99,99,99,3,15,18,99,99,99,"[99, 99, time03, 99, 99, 99, time07, 99, 99, 9...","[time03, time07, 3, 15, 18]","[time03, time07, 3, 15, 18]"
2055,99,time02,time03,time04,time05,99,99,time08,99,99,3,2,99,99,99,99,"[99, time02, time03, time04, time05, 99, 99, t...","[time02, time03, time04, time05, time08, 3, 2]","[time02, time03, time04, time05, time08, 3, 2]"
2056,99,99,99,99,99,time06,time07,99,99,99,3,15,1,18,2,99,"[99, 99, 99, 99, 99, time06, time07, 99, 99, 9...","[time06, time07, 3, 15, 1, 18, 2]","[time06, time07, 3, 15, 1, 18, 2]"
2057,99,99,time03,99,99,time06,time07,time08,99,99,3,99,99,99,99,99,"[99, 99, time03, 99, 99, time06, time07, time0...","[time03, time06, time07, time08, 3]","[time03, time06, time07, time08, 3]"
2058,99,99,99,99,99,time06,time07,time08,99,99,2,15,18,19,7,99,"[99, 99, 99, 99, 99, time06, time07, time08, 9...","[time06, time07, time08, 2, 15, 18, 19, 7]","[time06, time07, time08, 2, 15, 18, 19, 7]"

In [62]:
!pip install apyori

Requirement already satisfied: apyori in /usr/local/lib/python3.10/dist-packages (1.1.2)

In [63]:
from apyori import apriori

In [146]:
min_sup = 0.2

frequentItemsets = list(apriori(survey_association['for_association'] , min_support = min_sup))

for i in frequentItemsets:
    if i[0].__len__()>1:
        print('yes')
        print(i)

yes
RelationRecord(items=frozenset({'2', '1'}), support=0.2112676056338028, ordered_statistics=[OrderedStatistic(items_base=frozenset(), items_add=frozenset({'2', '1'}), confidence=0.2112676056338028, lift=1.0), OrderedStatistic(items_base=frozenset({'1'}), items_add=frozenset({'2'}), confidence=0.49657534246575347, lift=1.36144957408387), OrderedStatistic(items_base=frozenset({'2'}), items_add=frozenset({'1'}), confidence=0.5792276964047935, lift=1.36144957408387)])
yes
RelationRecord(items=frozenset({'1', '3'}), support=0.2248664400194269, ordered_statistics=[OrderedStatistic(items_base=frozenset(), items_add=frozenset({'1', '3'}), confidence=0.2248664400194269, lift=1.0), OrderedStatistic(items_base=frozenset({'1'}), items_add=frozenset({'3'}), confidence=0.5285388127853882, lift=1.0860892370510122), OrderedStatistic(items_base=frozenset({'3'}), items_add=frozenset({'1'}), confidence=0.4620758483033932, lift=1.0860892370510122)])
yes
RelationRecord(items=frozenset({'time07', '1'}), support=0.22875182127246235, ordered_statistics=[OrderedStatistic(items_base=frozenset(), items_add=frozenset({'time07', '1'}), confidence=0.22875182127246235, lift=1.0), OrderedStatistic(items_base=frozenset({'1'}), items_add=frozenset({'time07'}), confidence=0.5376712328767124, lift=0.9911057014262764), OrderedStatistic(items_base=frozenset({'time07'}), items_add=frozenset({'1'}), confidence=0.4216651745747538, lift=0.9911057014262763)])
yes
RelationRecord(items=frozenset({'2', 'time07'}), support=0.21661000485672657, ordered_statistics=[OrderedStatistic(items_base=frozenset(), items_add=frozenset({'2', 'time07'}), confidence=0.21661000485672657, lift=1.0), OrderedStatistic(items_base=frozenset({'2'}), items_add=frozenset({'time07'}), confidence=0.5938748335552596, lift=1.0947075042885224), OrderedStatistic(items_base=frozenset({'time07'}), items_add=frozenset({'2'}), confidence=0.39928379588182633, lift=1.0947075042885224)])
yes
RelationRecord(items=frozenset({'time07', '3'}), support=0.263234579893152, ordered_statistics=[OrderedStatistic(items_base=frozenset(), items_add=frozenset({'time07', '3'}), confidence=0.263234579893152, lift=1.0), OrderedStatistic(items_base=frozenset({'3'}), items_add=frozenset({'time07'}), confidence=0.5409181636726547, lift=0.997090867504025), OrderedStatistic(items_base=frozenset({'time07'}), items_add=frozenset({'3'}), confidence=0.4852282900626679, lift=0.9970908675040251)])

In [44]:
survey_cat = survey[['r1', 'r2', 'r3', 'r4', 'r5','rr1']]
survey_cat.head(5)

   r1  r2  r3  r4  r5  rr1
0   3  15  10   8   4   99
1   2   3   4   8  10   99
2   7   5   3   1   4   99
3   1   3   2   4  15   99
4   1   3   2   4  15   99

In [51]:
survey_cat['r2'] = survey_cat['r2'].replace({21: 99, 80: 99})
survey_cat['r3'] = survey_cat['r3'].replace({31: 99})

<ipython-input-51-9cf1d7487892>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  survey_cat['r2'] = survey_cat['r2'].replace({21: 99, 80: 99})
<ipython-input-51-9cf1d7487892>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  survey_cat['r3'] = survey_cat['r3'].replace({31: 99})

In [45]:
survey_cat.loc[((survey_cat['r2']==21) | (survey_cat['r2']==31) ), 'r2'] = 99

<ipython-input-45-b25dac01df76>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  survey_cat.loc[((survey_cat['r2']==21) | (survey_cat['r2']==31) ), 'r2'] = 99

In [46]:
survey_cat['new_column'] = survey_cat[['r1', 'r2', 'r3', 'r4', 'r5','rr1']].apply(list, axis=1)

<ipython-input-46-7d1061602107>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  survey_cat['new_column'] = survey_cat[['r1', 'r2', 'r3', 'r4', 'r5','rr1']].apply(list, axis=1)

In [52]:
survey

,id,a1,a2,a301,a302,a3021,a4,a5,a51,a52,...,u19new,r20new,s20new,t20new,u20new,G_genZ,G_genY,G_genX,G_genB,Gen_group
0,1,1,2530,2,6.0,NaN,2,7,NaN,NaN,...,0,0,0,0,0,NaN,2.0,NaN,NaN,2
1,2,2,2529,2,6.0,NaN,2,4,NaN,NaN,...,0,0,0,0,0,NaN,2.0,NaN,NaN,2
2,3,2,2531,2,6.0,NaN,2,4,NaN,NaN,...,0,0,0,0,0,NaN,2.0,NaN,NaN,2
3,4,2,2516,2,5.0,NaN,2,2,NaN,6.0,...,0,0,0,0,0,NaN,NaN,3.0,NaN,3
4,5,2,2508,2,1.0,NaN,2,6,NaN,NaN,...,0,0,0,0,0,NaN,NaN,NaN,4.0,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2054,2044,2,2524,2,3.0,NaN,2,7,NaN,NaN,...,0,0,0,0,0,NaN,NaN,3.0,NaN,3
2055,2045,1,2498,2,1.0,NaN,2,6,NaN,NaN,...,0,0,0,0,0,NaN,NaN,NaN,4.0,4
2056,2046,2,2517,2,3.0,NaN,2,4,NaN,NaN,...,0,0,0,0,0,NaN,NaN,3.0,NaN,3
2057,2047,1,2511,2,6.0,NaN,2,2,NaN,NaN,...,0,0,0,0,0,NaN,NaN,3.0,NaN,3
2058,2048,2,2513,2,6.0,NaN,2,1,NaN,NaN,...,0,0,0,0,0,NaN,NaN,3.0,NaN,3

In [24]:
survey_time = survey[['k1', 'k2', 'k3', 'k4', 'k5', 'k6', 'k7', 'k8', 'k9', 'k10']]

In [25]:
survey_time

      k1  k2  k3  k4  k5  k6  k7  k8  k9  k10
0      0   1   0   0   0   1   0   0   0    0
1      0   1   0   0   0   1   1   0   0    0
2      0   1   0   0   0   1   1   0   0    0
3      0   1   0   0   1   1   0   0   0    0
4      0   1   0   1   0   1   1   0   0    0
...   ..  ..  ..  ..  ..  ..  ..  ..  ..  ...
2054   0   0   1   0   0   0   1   0   0    0
2055   0   1   1   1   1   0   0   1   0    0
2056   0   0   0   0   0   1   1   0   0    0
2057   0   0   1   0   0   1   1   1   0    0
2058   0   0   0   0   0   1   1   1   0    0

[2059 rows x 10 columns]

In [ ]:
survey_time['k1'] = survey_time['k1'].replace({0: 99, 1: 'time01'})
survey_time['k2'] = survey_time['k2'].replace({0: 99, 1: 'time02'})
survey_time['k3'] = survey_time['k3'].replace({0: 99, 1: 'time03'})
survey_time['k4'] = survey_time['k4'].replace({0: 99, 1: 'time04'})
survey_time['k5'] = survey_time['k5'].replace({0: 99, 1: 'time05'})
survey_time['k6'] = survey_time['k6'].replace({0: 99, 1: 'time06'})
survey_time['k7'] = survey_time['k7'].replace({0: 99, 1: 'time07'})
survey_time['k8'] = survey_time['k8'].replace({0: 99, 1: 'time08'})
survey_time['k9'] = survey_time['k9'].replace({0: 99, 1: 'time09'})
survey_time['k10'] = survey_time['k10'].replace({0: 99, 1: 'time10'})

In [32]:
survey_time

      k1      k2      k3      k4      k5      k6      k7      k8  k9 k10
0     99  time02      99      99      99  time06      99      99  99  99
1     99  time02      99      99      99  time06  time07      99  99  99
2     99  time02      99      99      99  time06  time07      99  99  99
3     99  time02      99      99  time05  time06      99      99  99  99
4     99  time02      99  time04      99  time06  time07      99  99  99
...   ..     ...     ...     ...     ...     ...     ...     ...  ..  ..
2054  99      99  time03      99      99      99  time07      99  99  99
2055  99  time02  time03  time04  time05      99      99  time08  99  99
2056  99      99      99      99      99  time06  time07      99  99  99
2057  99      99  time03      99      99  time06  time07  time08  99  99
2058  99      99      99      99      99  time06  time07  time08  99  99

[2059 rows x 10 columns]

In [18]:
survey_cat['new_column']

0         [3, 15, 10, 8, 4, 99]
1          [2, 3, 4, 8, 10, 99]
2           [7, 5, 3, 1, 4, 99]
3          [1, 3, 2, 4, 15, 99]
4          [1, 3, 2, 4, 15, 99]
                 ...
2054    [3, 15, 18, 99, 99, 99]
2055     [3, 2, 99, 99, 99, 99]
2056      [3, 15, 1, 18, 2, 99]
2057    [3, 99, 99, 99, 99, 99]
2058     [2, 15, 18, 19, 7, 99]
Name: new_column, Length: 2059, dtype: object

In [ ]:
# Remove value 2 from all lists in 'list_col'
df['list_col'] = df['list_col'].apply(lambda x: [i for i in x if i != 2])

In [66]:
survey_cat['no_99'] = survey_cat['new_column'].apply(lambda x: [i for i in x if i != 99])

<ipython-input-66-96c92e669016>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  survey_cat['no_99'] = survey_cat['new_column'].apply(lambda x: [i for i in x if i != 99])

In [67]:
survey_cat

      r1    r2  r3  r4  r5  rr1               new_column               no_99
0      3  None  10   8   4   99    [3, 15, 10, 8, 4, 99]   [3, 15, 10, 8, 4]
1      2  None   4   8  10   99     [2, 3, 4, 8, 10, 99]    [2, 3, 4, 8, 10]
2      7  None   3   1   4   99      [7, 5, 3, 1, 4, 99]     [7, 5, 3, 1, 4]
3      1  None   2   4  15   99     [1, 3, 2, 4, 15, 99]    [1, 3, 2, 4, 15]
4      1  None   2   4  15   99     [1, 3, 2, 4, 15, 99]    [1, 3, 2, 4, 15]
...   ..   ...  ..  ..  ..  ...                      ...                 ...
2054   3  None  18  99  99   99  [3, 15, 18, 99, 99, 99]         [3, 15, 18]
2055   3  None  99  99  99   99   [3, 2, 99, 99, 99, 99]              [3, 2]
2056   3  None   1  18   2   99    [3, 15, 1, 18, 2, 99]   [3, 15, 1, 18, 2]
2057   3  None  99  99  99   99  [3, 99, 99, 99, 99, 99]                 [3]
2058   2  None  18  19   7   99   [2, 15, 18, 19, 7, 99]  [2, 15, 18, 19, 7]

[2059 rows x 8 columns]

In [21]:
!pip install apyori

Collecting apyori
  Downloading apyori-1.1.2.tar.gz (8.6 kB)
  Preparing metadata (setup.py) ... done
Building wheels for collected packages: apyori
  Building wheel for apyori (setup.py) ... done
  Created wheel for apyori: filename=apyori-1.1.2-py3-none-any.whl size=5954 sha256=65a28a71e1c1e1d848505cda72e15161b53ba9c4b643cf5a0ba4f96626fe1f7c
  Stored in directory: /root/.cache/pip/wheels/c4/1a/79/20f55c470a50bb3702a8cb7c94d8ada15573538c7f4baebe2d
Successfully built apyori
Installing collected packages: apyori
Successfully installed apyori-1.1.2

In [22]:
from apyori import apriori

In [68]:
min_sup = 0.1

frequentItemsets = list(apriori(survey_cat['new_column'],min_support = min_sup))
for i in frequentItemsets:
    if i[0].__len__()>1:
        print('yes')
        print(i)

yes
RelationRecord(items=frozenset({1, 2}), support=0.2112676056338028, ordered_statistics=[OrderedStatistic(items_base=frozenset(), items_add=frozenset({1, 2}), confidence=0.2112676056338028, lift=1.0), OrderedStatistic(items_base=frozenset({1}), items_add=frozenset({2}), confidence=0.49657534246575347, lift=1.36144957408387), OrderedStatistic(items_base=frozenset({2}), items_add=frozenset({1}), confidence=0.5792276964047935, lift=1.36144957408387)])
yes
RelationRecord(items=frozenset({1, 3}), support=0.2248664400194269, ordered_statistics=[OrderedStatistic(items_base=frozenset(), items_add=frozenset({1, 3}), confidence=0.2248664400194269, lift=1.0), OrderedStatistic(items_base=frozenset({1}), items_add=frozenset({3}), confidence=0.5285388127853882, lift=1.0860892370510122), OrderedStatistic(items_base=frozenset({3}), items_add=frozenset({1}), confidence=0.4620758483033932, lift=1.0860892370510122)])
yes
RelationRecord(items=frozenset({1, 99}), support=0.4254492472073822, ordered_statistics=[OrderedStatistic(items_base=frozenset(), items_add=frozenset({1, 99}), confidence=0.4254492472073822, lift=1.0), OrderedStatistic(items_base=frozenset({1}), items_add=frozenset({99}), confidence=1.0, lift=1.0), OrderedStatistic(items_base=frozenset({99}), items_add=frozenset({1}), confidence=0.4254492472073822, lift=1.0)])
yes
RelationRecord(items=frozenset({2, 3}), support=0.18552695483244294, ordered_statistics=[OrderedStatistic(items_base=frozenset(), items_add=frozenset({2, 3}), confidence=0.18552695483244294, lift=1.0), OrderedStatistic(items_base=frozenset({2}), items_add=frozenset({3}), confidence=0.5086551264980027, lift=1.045230444570247), OrderedStatistic(items_base=frozenset({3}), items_add=frozenset({2}), confidence=0.3812375249500998, lift=1.045230444570247)])
yes
RelationRecord(items=frozenset({2, 99}), support=0.3647401651287033, ordered_statistics=[OrderedStatistic(items_base=frozenset(), items_add=frozenset({2, 99}), confidence=0.3647401651287033, lift=1.0), OrderedStatistic(items_base=frozenset({2}), items_add=frozenset({99}), confidence=1.0, lift=1.0), OrderedStatistic(items_base=frozenset({99}), items_add=frozenset({2}), confidence=0.3647401651287033, lift=1.0)])
yes
RelationRecord(items=frozenset({99, 3}), support=0.48664400194269064, ordered_statistics=[OrderedStatistic(items_base=frozenset(), items_add=frozenset({3, 99}), confidence=0.48664400194269064, lift=1.0), OrderedStatistic(items_base=frozenset({3}), items_add=frozenset({99}), confidence=1.0, lift=1.0), OrderedStatistic(items_base=frozenset({99}), items_add=frozenset({3}), confidence=0.48664400194269064, lift=1.0)])
yes
RelationRecord(items=frozenset({99, 4}), support=0.13647401651287033, ordered_statistics=[OrderedStatistic(items_base=frozenset(), items_add=frozenset({99, 4}), confidence=0.13647401651287033, lift=1.0), OrderedStatistic(items_base=frozenset({4}), items_add=frozenset({99}), confidence=1.0, lift=1.0), OrderedStatistic(items_base=frozenset({99}), items_add=frozenset({4}), confidence=0.13647401651287033, lift=1.0)])
yes
RelationRecord(items=frozenset({99, 6}), support=0.14764448761534726, ordered_statistics=[OrderedStatistic(items_base=frozenset(), items_add=frozenset({99, 6}), confidence=0.14764448761534726, lift=1.0), OrderedStatistic(items_base=frozenset({6}), items_add=frozenset({99}), confidence=1.0, lift=1.0), OrderedStatistic(items_base=frozenset({99}), items_add=frozenset({6}), confidence=0.14764448761534726, lift=1.0)])
yes
RelationRecord(items=frozenset({99, 7}), support=0.1685284118504128, ordered_statistics=[OrderedStatistic(items_base=frozenset(), items_add=frozenset({99, 7}), confidence=0.1685284118504128, lift=1.0), OrderedStatistic(items_base=frozenset({7}), items_add=frozenset({99}), confidence=1.0, lift=1.0), OrderedStatistic(items_base=frozenset({99}), items_add=frozenset({7}), confidence=0.1685284118504128, lift=1.0)])
yes
RelationRecord(items=frozenset({8, 99}), support=0.20446818844099077, ordered_statistics=[OrderedStatistic(items_base=frozenset(), items_add=frozenset({8, 99}), confidence=0.20446818844099077, lift=1.0), OrderedStatistic(items_base=frozenset({8}), items_add=frozenset({99}), confidence=1.0, lift=1.0), OrderedStatistic(items_base=frozenset({99}), items_add=frozenset({8}), confidence=0.20446818844099077, lift=1.0)])
yes
RelationRecord(items=frozenset({10, 99}), support=0.1131617289946576, ordered_statistics=[OrderedStatistic(items_base=frozenset(), items_add=frozenset({10, 99}), confidence=0.1131617289946576, lift=1.0), OrderedStatistic(items_base=frozenset({10}), items_add=frozenset({99}), confidence=1.0, lift=1.0), OrderedStatistic(items_base=frozenset({99}), items_add=frozenset({10}), confidence=0.1131617289946576, lift=1.0)])
yes
RelationRecord(items=frozenset({99, 15}), support=0.16367168528411852, ordered_statistics=[OrderedStatistic(items_base=frozenset(), items_add=frozenset({99, 15}), confidence=0.16367168528411852, lift=1.0), OrderedStatistic(items_base=frozenset({15}), items_add=frozenset({99}), confidence=1.0, lift=1.0), OrderedStatistic(items_base=frozenset({99}), items_add=frozenset({15}), confidence=0.16367168528411852, lift=1.0)])
yes
RelationRecord(items=frozenset({1, 2, 3}), support=0.10830500242836329, ordered_statistics=[OrderedStatistic(items_base=frozenset(), items_add=frozenset({1, 2, 3}), confidence=0.10830500242836329, lift=1.0), OrderedStatistic(items_base=frozenset({1}), items_add=frozenset({2, 3}), confidence=0.2545662100456621, lift=1.372125200219943), OrderedStatistic(items_base=frozenset({2}), items_add=frozenset({1, 3}), confidence=0.2969374167776298, lift=1.3205057044171484), OrderedStatistic(items_base=frozenset({3}), items_add=frozenset({1, 2}), confidence=0.22255489021956087, lift=1.0534264803725881), OrderedStatistic(items_base=frozenset({1, 2}), items_add=frozenset({3}), confidence=0.5126436781609196, lift=1.0534264803725883), OrderedStatistic(items_base=frozenset({1, 3}), items_add=frozenset({2}), confidence=0.4816414686825054, lift=1.3205057044171487), OrderedStatistic(items_base=frozenset({2, 3}), items_add=frozenset({1}), confidence=0.5837696335078534, lift=1.372125200219943)])
yes
RelationRecord(items=frozenset({1, 2, 99}), support=0.2112676056338028, ordered_statistics=[OrderedStatistic(items_base=frozenset(), items_add=frozenset({1, 2, 99}), confidence=0.2112676056338028, lift=1.0), OrderedStatistic(items_base=frozenset({1}), items_add=frozenset({2, 99}), confidence=0.49657534246575347, lift=1.36144957408387), OrderedStatistic(items_base=frozenset({2}), items_add=frozenset({1, 99}), confidence=0.5792276964047935, lift=1.36144957408387), OrderedStatistic(items_base=frozenset({99}), items_add=frozenset({1, 2}), confidence=0.2112676056338028, lift=1.0), OrderedStatistic(items_base=frozenset({1, 2}), items_add=frozenset({99}), confidence=1.0, lift=1.0), OrderedStatistic(items_base=frozenset({1, 99}), items_add=frozenset({2}), confidence=0.49657534246575347, lift=1.36144957408387), OrderedStatistic(items_base=frozenset({2, 99}), items_add=frozenset({1}), confidence=0.5792276964047935, lift=1.36144957408387)])
yes
RelationRecord(items=frozenset({99, 1, 3}), support=0.2248664400194269, ordered_statistics=[OrderedStatistic(items_base=frozenset(), items_add=frozenset({3, 1, 99}), confidence=0.2248664400194269, lift=1.0), OrderedStatistic(items_base=frozenset({1}), items_add=frozenset({3, 99}), confidence=0.5285388127853882, lift=1.0860892370510122), OrderedStatistic(items_base=frozenset({3}), items_add=frozenset({1, 99}), confidence=0.4620758483033932, lift=1.0860892370510122), OrderedStatistic(items_base=frozenset({99}), items_add=frozenset({1, 3}), confidence=0.2248664400194269, lift=1.0), OrderedStatistic(items_base=frozenset({1, 3}), items_add=frozenset({99}), confidence=1.0, lift=1.0), OrderedStatistic(items_base=frozenset({1, 99}), items_add=frozenset({3}), confidence=0.5285388127853882, lift=1.0860892370510122), OrderedStatistic(items_base=frozenset({99, 3}), items_add=frozenset({1}), confidence=0.4620758483033932, lift=1.0860892370510122)])
yes
RelationRecord(items=frozenset({99, 2, 3}), support=0.18552695483244294, ordered_statistics=[OrderedStatistic(items_base=frozenset(), items_add=frozenset({3, 2, 99}), confidence=0.18552695483244294, lift=1.0), OrderedStatistic(items_base=frozenset({2}), items_add=frozenset({3, 99}), confidence=0.5086551264980027, lift=1.045230444570247), OrderedStatistic(items_base=frozenset({3}), items_add=frozenset({2, 99}), confidence=0.3812375249500998, lift=1.045230444570247), OrderedStatistic(items_base=frozenset({99}), items_add=frozenset({2, 3}), confidence=0.18552695483244294, lift=1.0), OrderedStatistic(items_base=frozenset({2, 3}), items_add=frozenset({99}), confidence=1.0, lift=1.0), OrderedStatistic(items_base=frozenset({2, 99}), items_add=frozenset({3}), confidence=0.5086551264980027, lift=1.045230444570247), OrderedStatistic(items_base=frozenset({99, 3}), items_add=frozenset({2}), confidence=0.3812375249500998, lift=1.045230444570247)])
yes
RelationRecord(items=frozenset({99, 1, 2, 3}), support=0.10830500242836329, ordered_statistics=[OrderedStatistic(items_base=frozenset(), items_add=frozenset({99, 1, 2, 3}), confidence=0.10830500242836329, lift=1.0), OrderedStatistic(items_base=frozenset({1}), items_add=frozenset({3, 2, 99}), confidence=0.2545662100456621, lift=1.372125200219943), OrderedStatistic(items_base=frozenset({2}), items_add=frozenset({3, 1, 99}), confidence=0.2969374167776298, lift=1.3205057044171484), OrderedStatistic(items_base=frozenset({3}), items_add=frozenset({1, 2, 99}), confidence=0.22255489021956087, lift=1.0534264803725881), OrderedStatistic(items_base=frozenset({99}), items_add=frozenset({1, 2, 3}), confidence=0.10830500242836329, lift=1.0), OrderedStatistic(items_base=frozenset({1, 2}), items_add=frozenset({3, 99}), confidence=0.5126436781609196, lift=1.0534264803725883), OrderedStatistic(items_base=frozenset({1, 3}), items_add=frozenset({2, 99}), confidence=0.4816414686825054, lift=1.3205057044171487), OrderedStatistic(items_base=frozenset({1, 99}), items_add=frozenset({2, 3}), confidence=0.2545662100456621, lift=1.372125200219943), OrderedStatistic(items_base=frozenset({2, 3}), items_add=frozenset({1, 99}), confidence=0.5837696335078534, lift=1.372125200219943), OrderedStatistic(items_base=frozenset({2, 99}), items_add=frozenset({1, 3}), confidence=0.2969374167776298, lift=1.3205057044171484), OrderedStatistic(items_base=frozenset({99, 3}), items_add=frozenset({1, 2}), confidence=0.22255489021956087, lift=1.0534264803725881), OrderedStatistic(items_base=frozenset({1, 2, 3}), items_add=frozenset({99}), confidence=1.0, lift=1.0), OrderedStatistic(items_base=frozenset({1, 2, 99}), items_add=frozenset({3}), confidence=0.5126436781609196, lift=1.0534264803725883), OrderedStatistic(items_base=frozenset({99, 1, 3}), items_add=frozenset({2}), confidence=0.4816414686825054, lift=1.3205057044171487), OrderedStatistic(items_base=frozenset({99, 2, 3}), items_add=frozenset({1}), confidence=0.5837696335078534, lift=1.372125200219943)])

#Decision tree

In [147]:
classification_data = survey.copy()

In [148]:
classification_data = classification_data[['a1', 'a5', 'a6', 'Gen_group']]
classification_data

      a1  a5   a6  Gen_group
0      1   7  9.0          2
1      2   4  2.0          2
2      2   4  2.0          2
3      2   2  2.0          3
4      2   6  1.0          4
...   ..  ..  ...        ...
2054   2   7  1.0          3
2055   1   6  1.0          4
2056   2   4  1.0          3
2057   1   2  3.0          3
2058   2   1  2.0          3

[2059 rows x 4 columns]